body {background-color: #C6DAE7;}

h1 {
color: #D73F09;
text-align: center;
}

h2 {
color: #000000;
text-align: center;
}

h3 {
color: #000000;
text-align: center;
}

h4 {
color: #000000;
}

h5 {
color: #000000;
}

h6 {
color: #000000;
}